/*@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&family=Besley:wght@900&family=Encode+Sans:wght@100&family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
/* 
Layout
The designs were created to the following widths:
    Mobile: 375px
    Desktop: 1440px
Colors
    Primary
        Purple: hsl(259, 100%, 65%)
        Light red: hsl(0, 100%, 67%)
        Neutral
        White: hsl(0, 0%, 100%)
        Off white: hsl(0, 0%, 94%)
        Light grey: hsl(0, 0%, 86%)
        Smokey grey: hsl(0, 1%, 44%)
        Off black: hsl(0, 0%, 8%)
Typography
    Body Copy
        Font size (inputs): 32px
Font
    Family: Poppins
    Weights: 400i, 700, 800i 
*/
body{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
.container{
    margin-top: 50px;
    background-color: #FFFFFF;
    width: 600px;
    height: 80%;
    border-radius: 10px 10px 90px 10px;

}

.entrada-datos{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
}
.input-mes{
    margin: 0px 20px;
}
.linea{
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}
hr{
    width: 80%;
    margin-left: 60px;
}
.boton{
    display: flex;
    align-items: center
}
input:hover {
    cursor: pointer;
    border: 2px solid #854cff;
}
.pulsa:hover{
    background-color: black;
    cursor: pointer;
}
.pulsa{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10%;
    background-color:#854cff;
    border: none;
}

input{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 22px;
}
input[type=text]:focus{
    outline: none;
    border:2px solid hsl(259, 100%, 65%);
}
.error-input{
    border-color: hsl(0, 100%, 67%);
}
.error{
    display: inline-block;
    height: 10px;
    color: hsl(0, 100%, 67%);
    font-size: 0.5em;
    font-style: italic;
    font-weight: 10;
}

.resultado{
    color: hsl(259, 100%, 65%);
}
.resultado-nuevo{
    animation-duration: 3s;
    animation-name: slidein;
    color: hsl(259, 100%, 60%);
    
      
}
@keyframes slidein {
    from {
      margin-left: 20%;
      width: 10%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.salida-datos{
    font-size: 80px;
    font-style: italic;
    line-height: 0.1rem;
    font-weight: 700;
}
.muestra-datos{
    margin-top: 8%;
    margin-left: 2%;
}
@media screen and (max-width:700px) {
    .container{
        width: 450px;
        display: flex;
        flex-direction: column;
    }
        .muestra-datos{
        font-size: 65px;
    }
    .boton{
        display: inline;
        position: relative;   
    }
    .pulsa{
        margin-left: 50%;
        margin-top: -20%;
    }
    .entrada-datos{
        justify-content: center;
        margin-bottom: 20px;
    }
}
